header{
    background-color: rgb(242, 242, 242);
    margin: 1% 0% 0% 10%;
    font-size: x-large;
    font-weight: bolder;
    font-stretch: 150%;
    font-style: normal;
}

a{
    color:rgb(102, 102, 102) !important;
    text-decoration: none !important;
    font-weight: bolder;
}

a:hover {
    background-color: rgba(128, 128, 128, 0.398);
    color: rgb(0, 0, 0) !important;
    text-decoration: underline !important;
}

footer{
    background-color: white;
}

form{
    width: 30% !important;
    background-color: white !important;
    border-radius: 5%;
    border: none;
    box-shadow: 0 0 10px grey !important;
    margin-top: 6%;
}

.form-group{
    margin-left: 7.5%;
}

input, select{
    border: 1px solid rgb(102, 102, 102) !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 242, 242) !important;
}

.btn-primary1{
    background-color: black !important;
    color: white !important;
    border: none !important;
    border-radius: 100px;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, select:focus, input[type=email]:focus {
    border: 2px solid black !important;
    box-shadow: none !important;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1 !important;
}

.container {
    padding: 30px;
}